# Temp : ignore other project
uploader
my-links
blog

# Ignore global files
**/.env
logs

# Database backups
BDD/backup
BDD/backups
BDD/data

# NPM data files
nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt

# Umami
umami/sql

# --- Medias---
medias

# Transmission
transmission/config

# Jellyfin
jellyfin/config
jellyfin/cache

# Satisfactory
satisfactory-server/data/**/*
