# Ignore global files
**/.env

# Ignore BDD backups
BDD/backup
BDD/backups
BDD/data

# Ignore monitoring
# ?

# Ignore NPM data files
nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt

# Ignore portainer
# ?

# Ignore Umami SQL files
umami/sql

# Temp : ignore other project
uploader
my-links
blog