# Temp : ignore other project
uploader
my-links
blog

# Ignore global files
**/.env

# Ignore BDD backups
BDD/backup
BDD/backups
BDD/data

# Ignore NPM data files
nginx-proxy-manager/data
nginx-proxy-manager/letsencrypt

# Ignore Umami SQL files
umami/sql

# Medias
medias

# Ignore transmission config files
transmission/config
