# App
TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=QUkn0Ui-lEzWr2x7vU6QEDJUAvOxZmya
NODE_ENV=production
SESSION_DRIVER=cookie

# Database
DB_HOST=postgres
DB_PORT=5533
DB_USER=root
DB_PASSWORD=root
DB_DATABASE=app

# Config
APP_URL=http://localhost:3333
BREVO_API_KEY=